.wrapper{
    min-height: 100vh;
    background-color: #00152C;
    padding: 100px 0;
}

.title{
    font-family: 'HelveticaNeueCyr';
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    margin: 25px 0;
}

.inner{
    justify-content: center;
    align-items: center;
}