.wrapper {
    padding: 30px 0;
}

.title {
    font-family: 'HelveticaNeueCyr';
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.inner {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.info {
    min-width: 430px;

}

.infoList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;
}

.infoItem {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.infoType {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #A1A1A1;
    display: block;
    min-width: 198px;
}

.infoValue {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;

}

.infoValue span {
    height: 24px;
}

.imgBox {
    width: 360px;
    border-radius: 15px;
    border: none;
    background: #0D1C2F;
}

.poster {
    border-radius: 15px;
}


