.wrapper {
    padding: 30px 0;
}

.title {
    font-family: 'HelveticaNeueCyr';
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.inner {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.info {
    min-width: 430px;

}

.infoList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;
}

.infoItem {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.infoType {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #A1A1A1;
    display: block;
    min-width: 198px;
}

.infoValue {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;

}

.infoValue span {
    height: 24px;
}

.imgBox {
    width: 360px;
    border-radius: 15px;
    border: none;
    background: #0D1C2F;
}

.poster {
    border-radius: 15px;
}

.btnTabsBox{
    display: flex;
    gap: 5px;
}

.tabBtn {
    padding: 0 10px;
    height: 35px;
    border: none;

    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.tabBtn:hover {
    background: #0054FF;
}

.tabBtn.active {
    background: #0054FF;
}

.personsBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tabsContent {
    display: none;
    background: #0D1C2F;
    border-radius: 15px;
    height: 200px;
    padding: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tabsContent::-webkit-scrollbar {
    height: 8px;
}

.tabsContent::-webkit-scrollbar-track {
    background: transparent;
}

.tabsContent::-webkit-scrollbar-thumb {
    background-color: #0054FF;
    border-radius: 20px;
    border: solid 3px transparent;
}

.tabsContent.active {
    display: flex;
    gap: 10px;
}

.tabsItem {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.itemImgBox{
    height: 142.5px;
}

.itemImg {
    width: 90px;
    border-radius: 10px;
}

.itemName{
    font-family: 'HelveticaNeueCyr';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}