.wrapper{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: 'HelveticaNeueCyr';
    font-weight: 800;
    text-transform: capitalize;
    font-size: 100px;
    color: #ffffff;
}

.title span{
    color: #0054FF;
}