.wrapper{
    width: 180px;
    height: 304px;
}

.inner{
    width: 180px;
    height: 280px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
}

.rating{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #162D4F;
    border-radius: 50%;
}

.rating span{
    position: relative;
    z-index: 1;
}