.wrapper{
    width: 180px;
    height: 304px;
    cursor: pointer;
    transition: .3s;
}

.wrapper:hover{
    transform: scale(1.1);
}

.wrapper:hover .shortDesc{
    opacity: 1;
}

.inner{
    width: 180px;
    height: 280px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    position: relative;
}

.inner::after{
    position: absolute;
    content: '';
    inset: 0;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    transition: .3s;
}

.wrapper:hover .inner::after{
    background: rgba(0, 0, 0, .65);
}

.rating{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'HelveticaNeueCyr';
    font-size: 14px;
    color: #fff;
}

.rating::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: #162D4F;
    border-radius: 50%;
}

.rating span{
    position: relative;
    z-index: 1;
}

.filmName{
    font-family: 'HelveticaNeueCyr';
    font-size: 15px;
    color: #ffffff;
    margin-top: 5px;
}

.shortDesc{
    position: absolute;
    left: 50%;
    margin-left: -85px;
    bottom: 70px;
    width: 170px;
    min-height: 67px;
    border-radius: 25px;
    background: rgba(0, 0, 0, .85);
    opacity: 0;
    transition: .3s;

    padding: 12px;
    color: #ffffff;
    z-index: 1;
}

.length{
    margin-top: 5px;
    display: block;
}